[gcode_macro PURGE_LINE]
gcode:
    {% set hotend = params.HOTEND|int %}

    G90                    ; absolute positioning

    G1 X3 Y0.0 Z0.4 F8000  ; move to purge start
    M104 S{hotend}         ; set and wait for hotend temp
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={hotend}

    G91                    ; relative positioning
    G1 E15 F200            ; purge blob
    G1 X100 E22 F1200      ; first line
    G1 Y0.5                ; move slightly
    G1 X-91 E20 F1200      ; second line
    G92 E0                 ; zero the extruder
    G90                    ; absolute positioning

[gcode_macro PRINT_START]
gcode:
    # Parameters
    {% set bed = params.BED|int %}
    {% set hotend = params.HOTEND|int %}
    {% set chamber = params.CHAMBER|default(0)|int %}

    CANCEL_COOLDOWN
    HEATSOAK BED={bed} HOTEND=160 CHAMBER={chamber} WAIT=1

    M117 Calibrating
    BED_MESH_CLEAR
    G28 Z
    Z_TILT_ADJUST
    G28 Z
    BED_MESH_CALIBRATE

    M106 S0

    M117 Purging
    PURGE_LINE HOTEND={hotend}

    M117 Printing
   
[gcode_macro PRINT_END]
gcode:
    M117 Done

    COOLDOWN
    BED_MESH_CLEAR

    M400                           ; wait for buffer to clear
    G91                            ; relative positioning

    G92 E0                         ; zero the extruder
    G1 E-2.0 F3600                 ; retract filament

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing

    TURN_OFF_HEATERS
    M107                           ; turn off fan
    PARK_NOZZLE

    G92 E0                         ; zero the extruder
    G1 E-8.0 F3600                 ; retract more filament

    M117

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    TURN_OFF_HEATERS
    CANCEL_PRINT_BASE
    PRINT_END

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    #{% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    #{% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    {% set x_park = 80 %}
    {% set y_park = 150 %}
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 5.0) %}
        {% set z_safe = 5.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
      G1 Z{z_safe} F900
      G90
      G1 X{x_park} Y{y_park} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %} 
    
[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G91
      G1 E{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}

[gcode_macro PREHEAT]
description: Preheat
gcode:
    {% set hotend = params.HOTEND|default(0)|int %}
    {% set bed = params.BED|default(0)|int %}
    
    M104 S{hotend}
    M140 S{bed}
    M106 S0

[gcode_macro M600]
gcode:
    PAUSE